@page "/counter"

<h1>Counter</h1>

<div>
    <label><strong>ID</strong></label>
    <input type=" name="Id" />
</div>
<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
